.home-page {
  width: 100%;
  padding: 0 !important;
}

.service-section {
  background-color: #fff;
}

.service-section-title {
  color: #0e6ebf;
}

.why-us-section {
  background-color: #ffffff;
  padding: 1rem 2rem;
}

.why-us-headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.why-us-title,
.why-us-tagline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  text-align: center;
}

.why-us-title {
  font-size: 1.5rem;
  color: #0e6ebf;
}

.why-us-tagline {
  color: #25272b;
}

.quality-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.quality-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #25272b;
  text-align: center;
}
