.booking-form-container {
  width: 100%;
}

.booking-form {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.17);
}

.form-header {
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
  background-color: #313643;
  width: 100%;
}

.form-title {
  width: 100%;
  padding: 0.25rem 0;
  margin: auto;
  font-weight: 600;
  color: #b9bac4;
  text-align: center;
}

.form-control-row {
  width: 100%;
  padding: 0.25rem 0;
  margin-bottom: 0.125rem;
}

.input-row input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: 0.0625rem solid #313643;
  outline: none;
}

.select-row select {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: 0.0625rem solid #313643;
}
