.footer-social-media .social-media-buttons {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.social-media-button {
  flex-basis: 21%;
  position: relative;
  width: 5rem;
  height: 5rem;
  border: 0.0625rem solid #313643;
  background-color: #313643;
  border-radius: 50%;
}

.social-media-button-icon {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 0.88rem;
  text-align: center;
}
