.login-form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 22.5rem;
}

.login-form {
  flex-basis: 100%;
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

.login-form .form-header {
  border: 0.0625rem solid #313643;
}

.login-form .close-form-btn-row {
  position: absolute;
  top: 0;
  left: 88%;
  padding: 0.25rem 0.75rem;
  margin: 0 auto;
}

.close-form-btn-row .close-form-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
  padding: 0.125rem 0.25rem;
  text-align: center;
}

.form-text {
  width: 100%;
  font-weight: 500;
  padding: 0.125rem 0;
  text-align: center;
  color: #8a8d97;
}

.login-btn {
  width: 100%;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
}
