.featured-listings-section {
  width: 100%;
}

.featured-listings-content {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}

.featured-listings-headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.featured-listings-title,
.featured-listings-text {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  text-align: center;
}

.featured-listings-title {
  font-size: 1.5rem;
  color: #0e6ebf;
}

.featured-listings-text {
  color: #25272b;
}
